.mathLineInput
{
    margin: 0px;
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 24px);
    border: none;
    background-color: #cfe2e8;
    border-radius: 10px;
    font-size: 1.2em;
}

.mathLineInput:focus-within {
    background: none;
    height: auto;
    background-color: lightgrey;
    color: black;
    border: #5d8e9e 2px solid;

}

.GivenLine
{
    background-color: #e8e6cf;
}

.LetLine
{
    background-color: #e8e6cf;
}

.emptyLine
{
    background-color: transparent;
}

.commentLine
{
    background-color: #4a8ba0;
    color: white;
}
.separatorLine
{
    color: transparent;
    background-color: #4a8ba0;
    height: 2px;
}

.errorLine
{
    background-color: #9d0000;
    color: white;
}

#SaverNOpenerStateManager
{
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #5d8e9e;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: white 1px solid;
    box-shadow: 0px 0px 20px 1px black;
}

#SaverNOpenerStateManager textarea
{
    margin: 0px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    resize: none;
    background-color: #5d8e9e;
    color: white;
    border: none;
}

#SaverNOpenerStateManager textarea:focus {
    outline: none;
}